*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    /* border: 1px solid aqua; */
    height: 1100px;
    width: 100vw;
    /* overflow-x: hidden; */
    /* overflow-y: auto; */

}
.container{
    /* border: 1px solid black; */
    margin: 5px;
    height: 100%;
    width: 100%;
    
    display: grid;
    grid-template-rows: 2% 98%;
    
    
}
.frame{
    
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#searchbtn{
    /* border: 2px solid red; */

    width: 1.5%;
    margin-right: 8px;

}
#searchbtn img {

    /* border: 2px solid red; */
    height: 90%;
    width: 90%;
}
#subscribe{
    margin-left: 8px;
}
.content{
    /* border: 2px solid red; */
    display: grid;
    height: 98%;
    grid-template-columns: 75% 25%;
    margin: 15px;
    column-gap: 10px;
}
.main{
    padding: 10px;
    /* border: 2px solid red; */

}
.main hr{
    color: rgba(0, 0, 0, 0.236);
}
#para{
    /* border: 1px solid rgba(0, 0, 0, 0.305) */
    box-shadow: 0px 0px 2px 2px rgba(44, 43, 43, 0.15);
}
#para2{
    /* border: 1px solid rgba(0, 0, 0, 0.305) */
    box-shadow: 0px 0px 2px 2px rgba(44, 43, 43, 0.15);
}
.list{
    margin-left: 35px;
}
.list2{
    margin-left: 35px;
}
#b1{
    color: rgb(0, 136, 255);
    border: 2px solid rgb(0, 136, 255);
    background-color: white;
    border-radius: 20px;
    padding: 5px;
}
.button{
    color: rgb(121, 125, 129);
    border: 2px solid rgb(121, 125, 129);
    background-color: white;
    border-radius: 20px;
    padding: 5px;
}
.button:hover{
    color: rgb(0, 136, 255);
    border:2px solid rgb(0, 136, 255);
}

.side{
    display: grid;
    gap: 30px;
    grid-template-rows: 16% 22% 10%;
}
.about{
    padding: 15px;
    background-color: rgba(212, 209, 209, 0.229);
}
.arc{
    padding: 10px;
}
#bold{
    font-size: 20px;
}
.refer{
    font-size: 15px;
}
.btn{
    display: flex;
}




