*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Be Vietnam Pro", sans-serif;
}
.wrapper{
    /* border: 5px solid red; */
    display: flex;
    justify-content: center;
    background-color: #68686c1f;

}
.container{
    /* border: 5px solid black; */
    height: 1851px;
    width:1440px;
    display: grid;
    grid-template-rows: 80%;
    background-color: #FFFFFF;
    margin :30px ;
    position: relative ;

}
/* .content{
    border: 5px solid red;

} */
.main{
    display: grid;
    grid-template-rows: 15% 42% 43%;
    position: relative;
    background-color: #9fa3b921;

}


.absolute{
    position: absolute;
}
.image{
    top: 53px;
    left: 117px;
    height: 82px;
    width: 98px;
}
.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.nav{
    height: 20px;
    top: 74px;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #777C85;

}
.team{
    width: 51px;
    left: 485px;
}
.About{
    width: 80px;
    left: 608px;
}
.Courses{
    width: 70px;
    left: 754px;
}
.Contact{
    width: 68px;
    left: 898px;
}
.button{
    width: 165px;
    height: 54px;
    top: 54px;
    left: 1205px;
    background-color: #4E5DC0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sap{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

}

.h1{
    width: 312px;
    height: 45px;
    top: 266px;
    left: 117px;
    font-size: 38px;
    font-weight: 400;
    line-height: 44.53px;
}
.hr1{
    width: 280px;
    top: 331px;
    left: 117px;
    border: 1px solid #00000080;
    border-collapse: collapse;
}
.p1{
    width: 573px;
    height: 272px;
    top: 373px;
    left: 117px;
    color: #00000081;
    font-size: 20px;
    line-height: 34px;
    font-weight: 500;
}
.img1{
    width: 570px;
    height: 427px;
    top: 266px;
    left: 800px;
    
}
.img1 img{
    border-radius: 30px;
}
.img2{
    width: 500px;
    height: 480px;
    top: 860px;
    left: 117px;
    
}
.img2 img{
    border-radius: 30px;
}
.h2{
    width: 260px;
    height: 45px;
    top: 872px;
    left: 791px;
    font-size: 38px;
    font-weight: 400;
}

.hr2{
    width: 280px;
    top: 937px;
    left: 791px;
    border: 1px solid #00000080;
    border-collapse: collapse;
}
.p2{
    width: 462px;
    height: 306px;
    top: 979px;
    left: 791px;
    color: #00000081;
    font-size: 20px;
    line-height: 34px;
    font-weight: 500;
}
.headx{
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 3px;
    color: #4E5DC0;
}
.parax{
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #999999;
}
.logox{
    
    left: 80px;
    top: 1553px;
    height: 82px;
    width: 98px;
}
.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.opp1{
    width: 250px;
    height: 32px;
    top: 1681px;
    left :70px ;
}
.opp2{
    width: 209px;
    height: 64px;
    top: 1727px;
    left: 70px;
}
.add1{
    width: 92px;
    height: 32px;
    top: 1521px;
    left: 435px;
}
.add2{
    width:332px ;
    height: 96px;
    top: 1567px;
    left: 435px;
}
.email1{
    width:61px ;
    height: 32px;
    top: 1703px;
    left: 435px;

}
.email2{
    width: 185px;
    height: 32px;
    top: 1749px;
    left: 435px;
}
.menu1{
    width: 57px;
    height: 32px;
    top: 1521px;
    left: 925px;
}
.menu2{
    width: 69px;
    height: 28px;
    top: 1567px;
    left: 925px;
}
.social{
    width:160px ;
    height: 48px;
    top: 1517px;
    left: 1210px;
}
.social img{
    object-fit: cover;
}



